<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emo Karte</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="header-left">
        <a href="/">
          <img
            src="https://previews.dropbox.com/p/thumb/ABStB0DLvWzEJRGik_60TWdBYonHkmshENr_QOf0aWd5hURVHxSFDVRnGEgO3TAseDj_O36Rth5SKFOSRvQZduAyWxrxDqymb5rt0_8u5T1e2pP9H-XemqQ_YjXk2R_E1RnW6dmCYLQ3O6DkFCUSRpHxYUJSdJBvV3uirQyw5JEqFsCfUiu_yLkKvCZkbDn3QqlrXMAIvMtvJV061KEzpWWb_T5X0itl0I3vhEYXxa-sigbzPLHRcth24bc2BQrDgbjqF4Bg9sFUmOKigFkSgTerxez3p4J6YW0t0o_Tn6_azuuIrhCPX8nYk-bs8SdGZ4n-NeAnjn1KoNdQOHABYOfcZvL3cBTHS5AIA8KcFoS9Vw/p.png?fv_content=true&size_mode=5">
        </a>
      </div>
      <span class="fa fa-bars menu-icon"></span>
      <div class="header-right">
        <a href="./about.html">About</a>
        <a href="./index.html">診断</a>
        <!-- ログイン機能を実装したらコメントアウト
            <a href="new.html" class="login">Log In</a>
            <a href="login.html" class="login">Sign Up</a>
            -->
      </div>
    </div>
  </header>
  <div class="top-wrapper wrapper">
    <div class="container">
      <h1>Emotion Text Analysis</h1>
      <p>言葉って、難しい。</p>
      <p>でも、言葉は沢山のことを教えてくれる。</p>
      <p>Emo Karteで、自分の文章を、気持ちを、見つめ直してみませんか？</p>
      <div class="btn-wrapper">
        <a href="./index.html" class="btn diagnosis">診断する</a>
        <!-- ログイン機能を実装したらコメントアウト
        <a href="#" class="btn signup">新規登録はこちら</a>
        <p>or</p>
        <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
        -->
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <p>©2021 Emo Karte. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>